@import '~@nebular/theme/styles/core/mixins';

:host {
  button {
    @include nb-ltr(margin, 0 0.75rem 2rem 0);
    @include nb-rtl(margin, 0 0 2rem 0.75rem);
  }
}

.full-width {
  flex: 1;
  min-width: 220px;
}

nb-checkbox {
  margin-bottom: 1rem;
}

.form-inline > * {
  margin: 0 1.5rem 1.5rem 0;
}

nb-card.inline-form-card nb-card-body {
  padding-bottom: 0;
}
.center_total {
  padding-top: 25px;
  text-align: center;
}
